domain-client/src/main/resources/wsdl/DomainServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<definitions targetNamespace="http://ws.domain.erealt.rageintegro.biz/" name="DomainServiceImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.domain.erealt.rageintegro.biz/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.domain.erealt.rageintegro.biz/" schemaLocation="DomainServiceImplService_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://erealt.com.ua/domain" schemaLocation="DomainServiceImplService_schema2.xsd"/>
    </xsd:schema>
  </types>
  <message name="findDistrictByCaption">
    <part name="caption" type="xsd:string"/>
  </message>
  <message name="findDistrictByCaptionResponse">
    <part name="district" type="tns:holder"/>
  </message>
  <message name="findRegionByCaption">
    <part name="caption" type="xsd:string"/>
    <part name="districtId" type="xsd:long"/>
  </message>
  <message name="findRegionByCaptionResponse">
    <part name="region" type="tns:holder"/>
  </message>
  <message name="findStreetByCaption">
    <part name="caption" type="xsd:string"/>
    <part name="regionId" type="xsd:long"/>
  </message>
  <message name="findStreetByCaptionResponse">
    <part name="street" type="tns:holder"/>
  </message>
  <message name="findStreetsByRegion">
    <part name="regionId" type="xsd:long"/>
  </message>
  <message name="findStreetsByRegionResponse">
    <part name="streets" type="tns:streetListResponse"/>
  </message>
  <message name="persistSaleFlat">
    <part name="saleFlat" type="ns1:saleFlat" xmlns:ns1="http://erealt.com.ua/domain"/>
  </message>
  <message name="persistSaleFlatResponse"/>
  <message name="persistLeaseFlat">
    <part name="leaseFlat" type="ns2:leaseFlat" xmlns:ns2="http://erealt.com.ua/domain"/>
  </message>
  <message name="persistLeaseFlatResponse"/>
  <message name="mergeSaleFlat">
    <part name="saleFlat" type="ns3:saleFlat" xmlns:ns3="http://erealt.com.ua/domain"/>
  </message>
  <message name="mergeSaleFlatResponse"/>
  <message name="mergeLeaseFlat">
    <part name="leaseHouse" type="ns4:leaseFlat" xmlns:ns4="http://erealt.com.ua/domain"/>
  </message>
  <message name="mergeLeaseFlatResponse"/>
  <message name="persistSaleLand">
    <part name="saleLand" type="ns5:saleLand" xmlns:ns5="http://erealt.com.ua/domain"/>
  </message>
  <message name="persistSaleLandResponse"/>
  <message name="mergeSaleLand">
    <part name="saleLand" type="ns6:saleLand" xmlns:ns6="http://erealt.com.ua/domain"/>
  </message>
  <message name="mergeSaleLandResponse"/>
  <message name="persistSaleHouse">
    <part name="saleHouse" type="ns7:saleHouse" xmlns:ns7="http://erealt.com.ua/domain"/>
  </message>
  <message name="persistSaleHouseResponse"/>
  <message name="mergeSaleHouse">
    <part name="saleHouse" type="ns8:saleHouse" xmlns:ns8="http://erealt.com.ua/domain"/>
  </message>
  <message name="mergeSaleHouseResponse"/>
  <message name="persistLeaseHouse">
    <part name="leaseHouse" type="ns9:leaseHouse" xmlns:ns9="http://erealt.com.ua/domain"/>
  </message>
  <message name="persistLeaseHouseResponse"/>
  <message name="mergeLeaseHouse">
    <part name="leaseHouse" type="ns10:leaseHouse" xmlns:ns10="http://erealt.com.ua/domain"/>
  </message>
  <message name="mergeLeaseHouseResponse"/>
  <message name="findHumanNameByCaption">
    <part name="caption" type="xsd:string"/>
  </message>
  <message name="findHumanNameByCaptionResponse">
    <part name="humanName" type="tns:holder"/>
  </message>
  <message name="existAbstractObjectByEidAndSource">
    <part name="eid" type="xsd:string"/>
    <part name="source" type="xsd:string"/>
  </message>
  <message name="existAbstractObjectByEidAndSourceResponse">
    <part name="existEntry" type="xsd:boolean"/>
  </message>
  <message name="findAbstractObjectByStreetIdAndEidAndSource">
    <part name="streetId" type="xsd:long"/>
    <part name="eid" type="xsd:string"/>
    <part name="source" type="xsd:string"/>
  </message>
  <message name="findAbstractObjectByStreetIdAndEidAndSourceResponse">
    <part name="abstractObject" type="tns:holder"/>
  </message>
  <message name="findAccessUserByPhone">
    <part name="phone" type="ns11:phone" xmlns:ns11="http://erealt.com.ua/domain"/>
  </message>
  <message name="findAccessUserByPhoneResponse">
    <part name="accessUser" type="tns:holder"/>
  </message>
  <message name="findPhone">
    <part name="code" type="xsd:string"/>
    <part name="phoneNumber" type="xsd:int"/>
  </message>
  <message name="findPhoneResponse">
    <part name="phone" type="tns:holder"/>
  </message>
  <message name="mergeAccessUser">
    <part name="accessUser" type="ns12:accessUser" xmlns:ns12="http://erealt.com.ua/domain"/>
  </message>
  <message name="mergeAccessUserResponse"/>
  <message name="persistAccessUser">
    <part name="accessUser" type="ns13:accessUser" xmlns:ns13="http://erealt.com.ua/domain"/>
  </message>
  <message name="persistAccessUserResponse"/>
  <portType name="DomainService">
    <operation name="findDistrictByCaption">
      <input message="tns:findDistrictByCaption"/>
      <output message="tns:findDistrictByCaptionResponse"/>
    </operation>
    <operation name="findRegionByCaption" parameterOrder="caption districtId">
      <input message="tns:findRegionByCaption"/>
      <output message="tns:findRegionByCaptionResponse"/>
    </operation>
    <operation name="findStreetByCaption" parameterOrder="caption regionId">
      <input message="tns:findStreetByCaption"/>
      <output message="tns:findStreetByCaptionResponse"/>
    </operation>
    <operation name="findStreetsByRegion">
      <input message="tns:findStreetsByRegion"/>
      <output message="tns:findStreetsByRegionResponse"/>
    </operation>
    <operation name="persistSaleFlat">
      <input message="tns:persistSaleFlat"/>
      <output message="tns:persistSaleFlatResponse"/>
    </operation>
    <operation name="persistLeaseFlat">
      <input message="tns:persistLeaseFlat"/>
      <output message="tns:persistLeaseFlatResponse"/>
    </operation>
    <operation name="mergeSaleFlat">
      <input message="tns:mergeSaleFlat"/>
      <output message="tns:mergeSaleFlatResponse"/>
    </operation>
    <operation name="mergeLeaseFlat">
      <input message="tns:mergeLeaseFlat"/>
      <output message="tns:mergeLeaseFlatResponse"/>
    </operation>
    <operation name="persistSaleLand">
      <input message="tns:persistSaleLand"/>
      <output message="tns:persistSaleLandResponse"/>
    </operation>
    <operation name="mergeSaleLand">
      <input message="tns:mergeSaleLand"/>
      <output message="tns:mergeSaleLandResponse"/>
    </operation>
    <operation name="persistSaleHouse">
      <input message="tns:persistSaleHouse"/>
      <output message="tns:persistSaleHouseResponse"/>
    </operation>
    <operation name="mergeSaleHouse">
      <input message="tns:mergeSaleHouse"/>
      <output message="tns:mergeSaleHouseResponse"/>
    </operation>
    <operation name="persistLeaseHouse">
      <input message="tns:persistLeaseHouse"/>
      <output message="tns:persistLeaseHouseResponse"/>
    </operation>
    <operation name="mergeLeaseHouse">
      <input message="tns:mergeLeaseHouse"/>
      <output message="tns:mergeLeaseHouseResponse"/>
    </operation>
    <operation name="findHumanNameByCaption">
      <input message="tns:findHumanNameByCaption"/>
      <output message="tns:findHumanNameByCaptionResponse"/>
    </operation>
    <operation name="existAbstractObjectByEidAndSource" parameterOrder="eid source">
      <input message="tns:existAbstractObjectByEidAndSource"/>
      <output message="tns:existAbstractObjectByEidAndSourceResponse"/>
    </operation>
    <operation name="findAbstractObjectByStreetIdAndEidAndSource" parameterOrder="streetId eid source">
      <input message="tns:findAbstractObjectByStreetIdAndEidAndSource"/>
      <output message="tns:findAbstractObjectByStreetIdAndEidAndSourceResponse"/>
    </operation>
    <operation name="findAccessUserByPhone">
      <input message="tns:findAccessUserByPhone"/>
      <output message="tns:findAccessUserByPhoneResponse"/>
    </operation>
    <operation name="findPhone" parameterOrder="code phoneNumber">
      <input message="tns:findPhone"/>
      <output message="tns:findPhoneResponse"/>
    </operation>
    <operation name="mergeAccessUser">
      <input message="tns:mergeAccessUser"/>
      <output message="tns:mergeAccessUserResponse"/>
    </operation>
    <operation name="persistAccessUser">
      <input message="tns:persistAccessUser"/>
      <output message="tns:persistAccessUserResponse"/>
    </operation>
  </portType>
  <binding name="DomainServiceImplPortBinding" type="tns:DomainService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="findDistrictByCaption">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </output>
    </operation>
    <operation name="findRegionByCaption">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </output>
    </operation>
    <operation name="findStreetByCaption">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </output>
    </operation>
    <operation name="findStreetsByRegion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </output>
    </operation>
    <operation name="persistSaleFlat">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </output>
    </operation>
    <operation name="persistLeaseFlat">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </output>
    </operation>
    <operation name="mergeSaleFlat">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </output>
    </operation>
    <operation name="mergeLeaseFlat">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </output>
    </operation>
    <operation name="persistSaleLand">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </output>
    </operation>
    <operation name="mergeSaleLand">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </output>
    </operation>
    <operation name="persistSaleHouse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </output>
    </operation>
    <operation name="mergeSaleHouse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </output>
    </operation>
    <operation name="persistLeaseHouse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </output>
    </operation>
    <operation name="mergeLeaseHouse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </output>
    </operation>
    <operation name="findHumanNameByCaption">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </output>
    </operation>
    <operation name="existAbstractObjectByEidAndSource">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </output>
    </operation>
    <operation name="findAbstractObjectByStreetIdAndEidAndSource">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </output>
    </operation>
    <operation name="findAccessUserByPhone">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </output>
    </operation>
    <operation name="findPhone">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </output>
    </operation>
    <operation name="mergeAccessUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </output>
    </operation>
    <operation name="persistAccessUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.domain.erealt.rageintegro.biz/"/>
      </output>
    </operation>
  </binding>
  <service name="DomainServiceImplService">
    <port name="DomainServiceImplPort" binding="tns:DomainServiceImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

